
.rouletteHistory {
 
    font-family: Arial, sans-serif;
    padding: 10px 10px;
    background-color: #fff;
    /* background-color: #202020; */
    /* border: 2px solid red; */
    border-top: 2px solid red;
    width: 100%;
    border-radius: 3px;

}

.rouletteHistory h1 {
    color: rgb(0, 0, 0);
}

.row-odd { 
    background-color: #ccc;
  }

.historyTable {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.tableHeader {
    background-color: #979494;
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
    color: black;
}

.tableData {
    padding: 10px;
    /* border: 1px solid #ddd; */
}

.filtersdrop {
    padding-bottom: 20px;
}

.filtersdrop div {
    font-size: 20px;
    color: white;
    font-weight: 500;
}

.filtersdrop select {
    width: 200px;
    height: 30px;
    font-size: 15px;
    padding-left: 2px;
}

.filters {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.filtersactions {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 50px;

}

.filterPerpage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 20px;
    color: white;
    gap: 5px;
}

.filterPerpage input {
    height: 30px;
    width: 60px;
}

.filterButton {
    display: flex;
    flex-direction: row;
    gap: 7px;
}

.filterssearch {
    padding-top: 20px;
    padding-right: 10px;
}

.pagination{
    padding-top: 10px;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: right;
    align-items: center;
}